body{
  background-color: gray;
  background-size: cover;
}
.Calculator{
  width: 550px;
  background-color: black;
  text-align: left;
  margin-left: 25%;
  padding-left: 15px;
  padding-right: 2%;
  padding-bottom: 2%;
  text-align: center;
}
.cdigito{
  background-color: black;
  border-style: none;
  color: white;
  text-align: center;
  /*width: 60px;*/
  width: 19%;
  height: 22%;
  font-size: 200%;
}
#producto, #resta, #suma, #division, #igual, #parentesis{
  color: orange;
}
#binary, #dec ,#Negative, #absolute,#e, #clear, #del, #exponencial{
  color: orange;
}
#display{
  font-family: Arial;
  color: white;
  text-align:right;
  border-color: rgb(120, 120, 120);
  border-style: none none solid none;
  font-size: 300%;
  padding-right: 12%;
  padding-left: 10%;
  padding-top: 2%;
}
