body{
  background-image: url("europe_background.jpg");
  background-repeat: repeat-x;
  background-position: top;
}
#LadoIzquierdo,#LadoDerecho{
  background-image: url(papiro.jpg);
  text-align: center;
  margin-top: 20px;
  height: 600px;
}
#start,#stop,#second_player{
  background-image: url(marmol.jpg);
}
#team1,#team2{
  background-image: url(marmol.jpg);
  text-align:center;
  width: 500px;

}
.title{
width: 1550px;
height: 150px;
}
#teams1_rome,#teams2_rome,#teams1_carthago,#teams2_carthago,
#teams1_egipto,#teams2_egipto{
  text-align: left;
  width: 80px;
  border-radius: 60%;
}
#canvas {
  background-color: black;
}
h2{
  text-align: center;
}
#Player_One,#Player_Two{
  width: 500px;
  text-align: center;
  background-color: yellow;
  font-size: 40px;
}
