body{
  background-image: url('papiro.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.Direccion{
  text-align: left;
  font-style: italic;
  font-size: 15px;
}
#Logos{
  height: 10px;
  }
#ForAca{
  text-align: left;
}
h1{
  text-align: center;
  margin: 10px;
  font-size: 250%;
}
h2{
  text-align: center;
}
p{
  color: red;
}
