body{
  background-image: url('papiro.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1{
  text-align: center;
  margin: 10px;
  font-size: 250%;
}
p{
  color: red;
}
