body{
  background-image: url('papiro.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
Titulo{
  text-align: center;
}
h1{
  font-size: 150%;
  text-align: center;
}
p{
  color: red;
}
