body {
  background-color: lightblue;
}
h1{
  background-color: white;
  border-radius: 30%;
}
h2{
  margin-left: 25%;
  margin-right: 20%;
  background-color: white;
  border-radius: 60%;
}
#grease{
  margin-left: 20px;
}
#canvas{
width: 600px;
height: 400px;
}
#imagesrc {
  display:none;
}
#image1,#image2,#image3,#image4{
  margin-left: 20%;
  margin-right: 30%;
  width: 200px;
  height: 150px;
}
#red,#green,#blue{
  text-align: left;
}
